/*Side Menu*/
*{
	margin: 0px;
}
#sideMenu{
	margin: 0px;
	background-color: #012545; 
	flex:1;
}
.menuContent{
	background-color: white;
}
.menu-home{
	margin-top: 10px;
}
#menu-group-name{
	margin-top: 10px;
}
