* {
	padding: 0;
	margin: 0;
}

.shadow {
	border: none;
	border-radius: 1rem;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

#developManagementDiv {
	height: 88rem;
	font-size: 1.5rem;
	padding: 2rem; 
	background-color: white; 
	border-radius: 1rem; 
	display:flex; 
	flex-direction:column;
}

#developManagementTitleDiv, #developManagementSearchDiv, #developManagementBoardDiv {
	overflow-y: hidden;
}

/* Input, Select */
#searchForm input[type="date"], #searchForm input[type="text"], #searchForm select {
	font-size: 1.6rem;
	border:1px solid #ADB5BD; 
	border-radius:0.5rem;
	height: 3rem;
	width: 15rem;
	display: flex;
	align-content: center;
	align-self: center;
}

#searchForm input[type="date"] {
	padding: 0 0.5rem;
}

#searchForm input:focus, #searchForm select:focus {
	outline: none;
}

#searchForm input[type="checkbox"] {
	width: 1.5rem;
	height: 1.5rem;
}

/* Button */
.detailViewBtn {
	border: none;
	font-size:1.6rem;
	color:white;
	background-color: #007bff;
	border-radius:5px;
	height: 3rem;
	width: 76px;
}

#initBtn {
	border: none;
	font-size: 1.6rem;
	color: white;
	background-color: #868E96;
	border-radius: 5px;
	height: 3rem;
	width: 76px;
}

#initBtn:active {
	background-color:#007bff;
}

#searchBtn {
	border: none;
	font-size:1.6rem;
	color:white;
	background-color:#222E3C; 
	border-radius:5px;
	height: 3rem;
	width: 76px;
}

#searchBtn:active {
	background-color:#007bff; 
}

/* Table */
#mainTable tbody tr {
	border-bottom: 1px solid #e9ecef;
}

#mainTable tbody tr:hover {
	background-color: #f3f6fd;
	cursor: pointer;
}

.text-align-left {
	text-align: left;
}

#mainTable thead th, #mainTable tbody tr {
	text-align: center;
}