/* Layout */
.w-10 {
	width: 10%;
}

.w-25 {
	width: 25%;
}

.w-30 {
	width: 30%;
}

.w-35 {
	width: 35%;
}

.w-45 {
	width: 45%;
}

.test {
	display: flex;
	width: 100%;
}

.test div {
	padding: 10px;
}

.test div:nth-of-type(1) {flex-grow: 2;}
.test div:nth-of-type(2) {flex-grow: 3;}
.test div:nth-of-type(3) {flex-grow: 2;}
.test div:nth-of-type(4) {flex-grow: 1;}

/* Icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.close-icon:hover {
	cursor: pointer;
}

.top-icon {
	font-size: 22px;
	vertical-align: middle;
}

/* Buttons */
.search-btn {
	padding: 0px 10px;
}

.plan-btn {
	background-color: #001ed2;
}

.plan-btn:hover {
	background-color: #222e3c;
}

.btn-container .btn{
	margin-top: 5px;
	padding: 4px 10px;
}

.btn-container {
	padding: 0px !important;
}

/* Modal */
.modal-header {
	background-color: #222e3c;
	color: white;
	padding: 10px;
}

.modal-sub-title {
	color: #007bff;
	font-size: 16px;
	font-weight: 700;
}

.col-form-label {
	font-weight: 700;
}

/* Font Size */
.wrapper, .btn {
	font-size: 14px;
}

/* Card */
.card {
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header, .card-footer {
	border-color: #ebeef4;
	background-color: #fff;
	color: #798eb3;
	padding: 15px;
}

.card-title {
	margin-top: 12px;
	font-weight: 700;
	color: #012970;
	font-family: 'Noto Sans', sans-serif;
}

.top-title {
	font-size: 22px;
	text-shadow: 1px 1px lightgray;
}

.list-title {
	font-size: 18px;
}

.card-title span {
	color: #899bbd;
	font-size: 14px;
	font-weight: 400;
}

.card-body {
	padding: 0 20px;
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
}

.card-img-overlay {
	background-color: rgba(255, 255, 255, 0.6);
}

/* Table */
.grid {
	display: grid;
	grid-template-columns: repeat(2, 50px 1fr);
	grid-gap: 5px;
	width: 100%;
}

.between-date {
	padding-top: 7px;
	background-color: #e9ecef;
}

.sr-search th {
	width: 100px;
	padding-top: 7px;
}

.sr-search td {
	padding-right: 20px;
	width: 330px;
}

.sr-search select {
	width: 150px;
}

.form-control {
	width: auto;
}

.sr-list thead {
	background-color: #f2f2f2;
}

.sr-list thead th {
	padding: 5px;
	vertical-align: middle;
}

.sr-list th, .sr-list tr {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.sr-list tr:hover {
	background-color: #f3f6fd;
	cursor: pointer;
}

@media screen and (max-width: 1610px) {
	.table-container {
		width: 100%;
	    overflow-x: auto;
	    white-space: nowrap;
	}
	
	.sr-list {
		width: auto;
	}
}
