/*공통*/
a {
	text-decoration: none;
}

/*구분*/
#header-bar {
	height: 8rem; 
	box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
	padding: 2rem;
	display: flex; 
	justify-content: space-between;
	/*overflow: hidden;*/
}

.shadow {
    box-shadow: 2px 28px rgba(58,59,69,.15);
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: block;
    margin-bottom: 0px;
    background-color:#fafbfd; 
}

.nav-link{
	color: #6a757b;	
}

div {
    display: block;
}

#logo {
	line-height: 4rem;
	display: flex; 
	flex-direction: row;
	overflow: hidden;
}

#logo-img {
	height: 3.5rem;
	width: 3.5rem;
}

#logo-gap {
	width: 0.5rem;
}

#logo-text {
	line-height: 3rem;
	font-size: 4.5rem;
	color: #007bff;
	font-weight: 1000;
}

#header-list {
	line-height: 3.5rem;
	display: flex; 
	flex-direction: row;
}

#background {
	height:91.5rem;
	padding: 2rem;
	background-color: #edf2f8;
}
