*{
	margin: 0px;
	padding: 0px;
}
.menu-group{
	font-weight: bold;
	color: #9da9b9;
}
#menu-group-icon1{
	margin-right: 5px;
}
#menu-group-icon2{
	margin-right: 5px;
}
.menu-group-nm{
	border-bottom: 1px solid #9da9b9;
}
a{
	color: #98a3b5; /* 링크 텍스트 색상 설정 */
    text-decoration: none; 
}
a:hover{
	color: white;
	text-decoration: none; 
}