/* form */
input:focus {
	outline:none !important;
	box-shadow:none !important;
}

textarea:focus {
	outline: none !important;
	box-shadow:none !important;
}

select:focus {
	outline: none !important;
	box-shadow:none !important;
}