/*searchForm*/
#searchForm input {
	font-size:14px; 
	padding:7px 8px; 
	border:1px solid #ADB5BD; 
	border-radius:3px;
	font-size: 14px;
}

#searchForm input[type="date"] {
	font-size:14px; 
	padding:6px 8px; 
	border:1px solid #ADB5BD; 
	border-radius:3px;
	font-size: 14px;
}

#searchForm input:focus {
	outline: none;
}

#searchForm select {
	font-size:14px; 
	padding:5px 8px; 
	border:1px solid #ADB5BD; 
	border-radius:3px;
	font-size: 14px;
}

#searchForm select:focus {
	outline: none;
}

#initBtn {
	background-color:#868E96; 
	border-radius:5px;
}

#initBtn:active {
	background-color:#666E66; 
	border-radius:5px;
}

#searchBtn {
	background-color:#222E3C; 
	border-radius:5px;
}

#searchBtn:active {
	background-color:#020E1C; 
	border-radius:5px;
}