/*Side Menu*/
*{
	margin: 0px;
}
#sideMenu{
	margin: 0px;
	background-color: #012545; 
	height: 1000px;
}
.menuContent{
	background-color: white;
	height: 1000px;
	width: 10px;
}
.menu-home{
	margin-top: 10px;
}
#menu-group-name{
	margin-top: 10px;
}
#s-options{
	width: 100px;
	margin-top: 20px;
	margin-left: 87%;
	margin-bottom: 10px;
}
#menu-group-name1{
	margin-top: 20px;
	margin-bottom: 10px;
	border-top: solid 1px #9ca1a5;
}
#menu-group-name1
.menuitem{
	margin-bottom: 20px;
}

/*notice board*/
.contents>div h3 {
    color: #0f0f10;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    line-height: 1.3;
}
.notice_box h3 {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 18px;
}

p, a, h2, h3 {
    word-wrap: break-word;
}

div, a {
    box-sizing: border-box;
}
a {
    transition: background .2s;
    cursor: pointer;
}

#plus {
    width: 16px;
    height: 16px;
    background: url(../img/btn_more.png) no-repeat;
    margin-top: 3px;
}
.notice_box .article li {
    overflow: hidden;
    font-size: 14px;
    line-height: 2;
    cursor: pointer;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
