/*Side Menu*/
#sideMenu{
	margin: 0px;
	background-color: #012545; 
	height: 1000px;
}
.menuContent{
	background-color: white;
	height: 1000px;
}
.menu-home{
	margin-top: 10px;
}
#menu-group-name{
	margin-top: 10px;
}