a, a:hover {
	text-decoration:none;
	color: inherit;
}

input:focus, select:focus {
	outline: none;
}

.shadow {
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

#progressManagementDiv {
	height: 88rem;
	font-size: 1.5rem;
	padding:2rem; 
	background-color: white; 
	border-radius:10px; 
	display:flex; 
	flex-direction:column;
	font-family: pretendard;
}

#progressManagementTitleDiv, #progressManagementSearchDiv, #progressManagementBoardDiv {
	overflow-y: hidden;
}

/* Input, Select */
#searchForm input[type="date"], #searchForm input[type="text"], #searchForm select {
	font-size: 1.5rem;
	padding:0 0.8rem;
	border:1px solid #ADB5BD; 
	border-radius:3px;
	height: 3rem;
	width: 6rem;
}

#searchForm input:focus, #searchForm select:focus {
	outline: none;
}

#searchForm input[type="checkbox"] {
	height: 3rem;
}

/* Button */
#resetSearchBtn {
	border: none;
	font-size: 1.5rem;
	color: white;
	background-color: #868E96;
	border-radius: 5px;
	height: 3rem;
	width: 8rem;
	font-weight:700;
}

#resetSearchBtn:active {
	background-color:#007bff;
}

#searchBtn {
	border: none;
	font-size:1.5rem;
	color:white;
	background-color:#222E3C; 
	border-radius:5px;
	height: 3rem;
	width: 8rem;
	font-weight:700;
}

.btn-1 {
	border: none;
	font-size: 1.5rem;
	color: #f3ffff;
	background-color:#2c7be4; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center; /* 가로 - 중앙으로 */
	justify-content: center; /* 세로 - 상단으로 */
}

.btn-1:active {
   background-color:#4177bf; 
}

.btn-2 {
	height: 2.5rem;
	width: 55px;
	border: none;
	font-size:1.2rem;
	color: #f3ffff;
	background-color:#2c7be4; 
	border-radius:3px;
}
.btn-2:active {
	background-color:#4177bf; 
}

#searchBtn:active {
	background-color:#007bff; 
}

/* Table */
.text-align-left {
	text-align: left;
}

#mainTable thead {
	border-bottom: 1.5px solid #e9ecef;
	background-color: #edf2f8;
}

#mainTable tbody tr {
	background-color: white;
}

.text-align-left {
	text-align: left;
}

#mainTable thead th, #mainTable tbody tr {
	text-align: center;
}

/* modal */
.modal-header {
	display:flex; 
	align-items:center; 
	background-color:#222e3c;
	color:white;
}

#srRqstInfo > div {
	border-top: 1px solid #f9fafe;
}

.filterTab {
	height: 3rem;
	border: 1.5px solid #F9FAFE;
	text-align: center;
	background-color: #F9FAFE;
	font-weight: bold;
	color: #5d6e7e;
}

.filterTabSelected {
	background-color: #edf2f8; 
	color: black;
	border-bottom:none;
}

.btn-blue {
	border: none;
	font-size: 1.5rem;
	color: #ffffff;
	background-color:#2c7be4; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight:700;
}

.btn-blue:active {
   background-color:#4177bf; 
}


.btn-red {
	border: none;
	font-size: 1.5rem;
	color: #ffffff;
	background-color:#de483a; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight:700;
}

.btn-red:active {
   background-color:#c53d31; 
}

.btn-navy {
	border: none;
	font-size: 1.5rem;
	color: #ffffff;
	background-color:#222e3c; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight:700;
}

.btn-navy:active {
   background-color:black; 
}


.btn-gray {
	border: none;
	font-size: 1.5rem;
	color: #ffffff;
	background-color:#949494; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight:700;
}

.btn-gray:active {
   background-color:#7c7c7c; 
}