a, a:hover {
	text-decoration:none;
	color: inherit;
}

input:focus, select:focus {
	outline: none;
}

/* 그림자 효과 */
.shadow {
   border: none;
   border-radius: 1rem;
   box-shadow: 2px 28px rgba(58,59,69,.15);
}

#developerHomeDiv {
	height: 88rem;
	font-size: 1.5rem;
	font-family: pretendard;
	padding:2rem; 
	background-color: white; 
	border-radius:1rem; 
	display:flex; 
	flex-direction:column;
}

#userManagementTitleDiv {
	height:4rem;
}

#userManagementMiddleDiv {
	height:40rem;
	display:flex;
	flex-direction:row;
	margin-top:0.5rem;
}

#tableDiv {
	width:100%;
	display:flex;
	flex-direction:column;
	padding: 1rem;
	border-radius: 10px;
}

#statusChoiceBtnDiv {
	display:flex;
	flex-direction:row;
	line-height:3rem;
}

.filterTab {
	width: 8%;
	height: 3rem;
	border: 1.5px solid #e0e7ed;
	border-bottom: none;
	border-radius: 8px 8px 0 0;
	text-align: center;
	background-color: #f9fafe;
	font-weight: bold;
	color: #5d6e7e;
	cursor: pointer;
	font-size:1.3rem;
}

.filterTabSelected {
	background-color: #edf2f8; 
	color: black;
	border-bottom:none;
}

/* Table */
.text-align-left {
	text-align: left;
}

#mainTable thead {
	border-bottom: 1.5px solid #e9ecef;
	background-color: #edf2f8;
}

#mainTable tbody tr {
	background-color: white;
}

#mainTable tbody tr:hover {
	cursor:pointer;
}

.text-align-left {
	text-align: left;
}

#mainTable thead th, #mainTable tbody tr {
	text-align: center;
}


.btn-1 {
	border: none;
	font-size: 1.4rem;
	color: #f3ffff;
	background-color:#2c7be4; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center; /* 가로 - 중앙으로 */
	justify-content: center; /* 세로 - 상단으로 */
}
.btn-1:hover {
	color: #f3ffff;
}

.btn-1:active {
   background-color:#4177bf; 
}

.btn-2 {
	height: 2.5rem;
	width: 55px;
	border: none;
	font-size:1.2rem;
	color: #f3ffff;
	background-color:#2c7be4; 
	border-radius:3px;
}
.btn-2:active {
	background-color:#4177bf; 
}
/* 
#calendarDiv {
	width:30%;
	border: 1px solid gray;
	border-radius: 10px;
}
 */
#userManagementBottomDiv {
	height:39.5rem;
	margin-top:0.5rem;
	display:flex;
	flex-direction:row;
}

#srProgressDiv {
	width:70%;
	border-radius: 10px;
	padding: 1rem;
	background-color:white;
	margin-right:0.5rem;
}

.progressElementTitle {
	height:5rem;
	font-size:2rem;
	font-weight:700;
	display: flex;
	flex-directoin: row;
	align-items:center;
	justify-contents:center;
}

#srProgressChoiceDiv {
	line-height:3rem; 
	display:flex; 
	flex-direction:row;
}

#srProgressGraphDiv {
	width:30%;
	border-radius: 10px;
	padding: 1rem;
	background-color:white;
}

#srPlanInfo > div {
	border-bottom: 1px solid #f9fafe;
}


/* modal */
.modal-header {
	display:flex; 
	align-items:center; 
	background-color:#222e3c;
	color:white;
}

#srRqstInfo > div {
	border-top: 1px solid #f9fafe;
}

.btn-blue {
	border: none;
	font-size: 1.4rem;
	color: #ffffff;
	background-color:#2c7be4; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight:700;
	padding:0 1rem;
}

.btn-blue:active {
   background-color:#4177bf; 
}


.btn-red {
	border: none;
	font-size: 1.4rem;
	color: #ffffff;
	background-color:#de483a; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight:700;
	padding:0 1rem;
}

.btn-red:active {
   background-color:#c53d31; 
}

.btn-navy {
	border: none;
	font-size: 1.4rem;
	color: #ffffff;
	background-color:#222e3c; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight:700;
	padding:0 1rem;
}

.btn-navy:active {
   background-color:black; 
}


.btn-gray {
	border: none;
	font-size: 1.4rem;
	color: #ffffff;
	background-color:#949494; 
	border-radius:3px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight:700;
	padding:0 1rem;
}

.btn-gray:active {
   background-color:#7c7c7c; 
}