a, a:hover {
	text-decoration:none;
	color: inherit;
}

input:focus, select:focus {
	outline: none;
}

.shadow {
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

#developerHomeDiv {
	height: 88rem;
	font-size: 1.5rem;
	padding:2rem; 
	background-color: white; 
	border-radius:10px; 
	display:flex; 
	flex-direction:column;
}

#userManagementTitleDiv {
	height:4rem;
}

#userManagementMiddleDiv {
	height:40rem;
	display:flex;
	flex-direction:row;
	margin-top:0.5rem;
}

#tableDiv {
	width:100%;
	display:flex;
	flex-direction:column;
	padding: 1rem;
	border: 1px solid gray;
	border-radius: 10px;
	margin-right:0.5rem;
}

#statusChoiceBtnDiv {
	display:flex;
	flex-direction:row;
	line-height:3rem;
}

.filterTab {
	height: 3rem;
	border: 1.5px solid #edf2f8;
	border-radius: 8px 8px 0 0;
	text-align: center;
	background-color: #edf2f8;
	font-weight: bold;
	color: #5d6e7e;
}

.filterTabSelected {
	background-color: #f9fafe; 
	color: black;
	border-bottom:none;
}

#mainTable thead {
	border-bottom: 1.5px solid #edf2f8;
	border-left: none;
	border-right: none;
	background-color: #f9fafe;
}

.btn-2 {
	height: 2.5rem;
	width: 55px;
	border: none;
	font-size:1.2rem;
	color: #f3ffff;
	background-color:#2c7be4; 
	border-radius:3px;
}
.btn-2:active {
	background-color:#4177bf; 
}
/* 
#calendarDiv {
	width:30%;
	border: 1px solid gray;
	border-radius: 10px;
}
 */
#userManagementBottomDiv {
	height:39.5rem;
	margin-top:0.5rem;
	display:flex;
	flex-direction:row;
}

#srProgressDiv {
	width:70%;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1rem;
	background-color:white;
	margin-right:0.5rem;
}

.progressElementTitle {
	height:5rem;
	font-size:2rem;
	font-weight:700;
	display: flex;
	flex-directoin: row;
	align-items:center;
	justify-contents:center;
}

#srProgressChoiceDiv {
	line-height:3rem; 
	display:flex; 
	flex-direction:row;
}

#srProgressGraphDiv {
	width:30%;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1rem;
	background-color:white;
}

#srPlanInfo > div {
	border-bottom: 1px solid #f9fafe;
}


/* modal */
.modal-header {
	display:flex; 
	align-items:center; 
	background-color:#222e3c;
	color:white;
}

#srRqstInfo > div {
	border-top: 1px solid #f9fafe;
}

