* {
	padding: 0;
	margin: 0;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}
.shadow {
	border: none;
	border-radius: 1rem;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

#reviewerHomeDiv {
	height: 88rem;
	font-size: 1.5rem;
	font-family: pretendard;
	padding: 2rem; 
	background-color: white; 
	border-radius: 1rem; 
	display:flex; 
	flex-direction:column;
}

#reviewerHomeTitleDiv {
	overflow-y: hidden;
}

.reviewerHomeSecondTitle {
	height:3rem; 
	font-size:2rem; 
	font-weight:700; 
	color:#222E3C; 
	margin-bottom: 0.5rem;
}

.countcard {
	height:5rem; 
	width: 32.6%;
	font-size: 1.6rem;
	font-weight: 700;
	background-color: #d3e7ff;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Button */
#reviewerHomeMainTablePaging a {
	font-size: 1.5rem;
}

.detailViewBtn {
	border: none;
	font-size:1.6rem;
	color:white;
	background-color: #007bff;
	border-radius: 0.5rem;
	height: 3rem;
	width: 7rem;
}

.requestResultBtn, .receptionResultBtn {
	border: none;
	font-size:1.6rem;
	color:white;
	background-color: #007bff;
	border-radius: 0.5rem;
	height: 3rem;
	width: 7rem;
}

.closeBtn {
	border: none;
	font-size:1.6rem;
	color:white;
	background-color: gray;
	border-radius: 0.5rem;
	height: 3rem;
	width: 7rem;
}

.btn-1 {
   border: none;
   font-size: 1.3rem;
   color: #f3ffff;
   background-color:#2c7be4; 
   border-radius:3px;
   height: 2.8rem;
   width: 7rem;
}

.btn-1:active {
   background-color:#4177bf; 
}

.btn-2 {
   border: none;
   font-size:1rem;
   color: #f3ffff;
   background-color:#2c7be4; 
   border-radius:3px;
   height: 2.5rem;
   width: 55px;
}

.btn-2:active {
   background-color:#4177bf; 
}

.btn-3 {
   border: none;
   font-size:1.3rem;
   color: #f3ffff;
   background-color:#949494; 
   border-radius:3px;
   height: 2.8rem;
   width: 7rem;
}

.btn-3:active {
   background-color:#7c7c7c; 
}

.close-icon:hover {
	cursor: pointer;
}

/* Table */
#reviewerHomeMainTable tbody tr {
	border-bottom: 1px solid #e9ecef;
}

.text-align-left {
	text-align: left;
}

#reviewerHomeMainTable thead th, #reviewerHomeMainTable tbody tr {
	text-align: center;
}

#reviewerHomeMainTable thead {
	border-bottom: 1.5px solid #edf2f8;
	border-left: none;
	border-right: none;
	background-color: #f9fafe;
}

/* Modal */
.requestInfo, .requestInfo input, .requestInfo textarea {
	font-size: 1.5rem;
}

#detailmodal {
	font-size: 1.5rem;
	border-radius: 1rem;
}

.w-label {
	width: 20.83%;
}

.w-content {
	width: 79.17%;
}

.modal-header {
	background-color: #222e3c;
	color: white;
	font-weight: 700;
}

.modal-sub-title {
	color: #007bff;
	font-weight: 700;
}

.col-form-label {
	font-weight: 700;
}

#detailmodal i {
	font-size: 2.5rem;
	font-weight: 700;
}

#detailmodal textarea {
	font-size: 1.5rem;
	border:1px solid #ADB5BD;
	border-radius:0.5rem;
}

select {
	outline-style: none;
}

#detailmodal input, #detailmodal select {
	font-size: 1.5rem;
	height: 3rem;
	display: flex;
	align-content: center;
	align-self: center;
}

#detailmodal input[type="text"], #detailmodal input[type="date"] {
	border:1px solid #ADB5BD; 
	border-radius:0.5rem;
}

/* Badge */
.badgeitem {
	color: white;
	font-size: 1.3rem;
	font-weight: 700;
	background-color: #8d8f91;
	border-radius: 0.3rem;
	display: flex;
	width: 7rem;
	height: 2.2rem;
	padding: 0.2rem;
}

/* Shape */
.progress-steps {
    display: flex;
    flex-wrap: wrap;
}

.progress-steps .progress-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.5rem 0.5rem 0 0.5rem
}

.progress-step:first-child {
    margin-left: 0;
}

.progress-step:last-child {
    margin-right: 0;
}

.progress-steps .progress-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: .25rem dotted #3b82f6;
    width: 2.27rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
}
.progress-steps .progress-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: .25rem dotted #3b82f6;
    width: 3.51rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
}

.progress-steps .progress-content {
    width: 10rem;
    text-align: center;
}

.progress-steps .progress-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6;
}

.progress-steps .progress-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5;
}

.currentCircle:before {
     background-color: #f63b3b !important;
}