body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #edf2f8; 
}

.title{
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
}

label{
	font-size: 13px;
	padding-top: 5%;
}
label input[type="checkbox"] {
  transform: scale(0.8); /* 체크박스 크기를 작게 조절 */
  display: inline-block;
}
#remember-chk{
	font-size: 10px;
	margin-left: 40px;
}

/* width input fields */
input[type=text], input[type=password] {
  width: 70%;
  padding: 10px 0;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input::placeholder {
  font-size: 13px; /* 원하는 작은 크기로 조절 */
  padding-left: 10px;
}
#saveId{
	padding-right: 40%;
}

#id{
	padding-right: 9px;
}

b{
	width: 20.95px;
}

.input-container {
    position: relative;
}

.input-container input {
    padding-right: 30px; /* input 우측에 충분한 공간을 확보 */
}

#eye{
    position: absolute;
    padding-right: 10px;
    right: 5px; /* 이미지를 우측에 위치시킴 */
    top: 50%; /* 이미지를 수직 가운데 정렬 */
    transform: translateY(-50%); /* 수직 가운데 정렬을 위해 translateY 사용 */
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 2px;
  border: none;
  cursor: pointer;
  align-self: center;
  width: 75%;
}

button:hover {
  opacity: 0.8;
}

.button-container{
  text-align: center; /* 가운데 정렬 */
}

#join-btn{
	width: 75%;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.container {
  padding: 8px;
}

#find-container{
	text-align: center;
	paddingg: 0;
	width: 100%;
}

span.findIdOrPsw {
  font-size: 12px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 80px;
}

/* Modal Content/Box */
.id-modal-content {
  background-color: #fefefe;
  margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  padding-top: 10px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

/* 아이디 비밀번호 찾기 모달 */
/* table */

element.style {
}
.find-id-table th {
    width: 160px;
}

.find-id-table tbody{
	border: 1px solid #ddd;
}
.find-id-table th, .find-password-table th, .find-password-reset-table th {
    background-color: #eef1f8;
    text-align: left;
    white-space: nowrap;
}

.find-id-table th, .find-password-table th, .find-password-reset-table th, .find-id-table td, .find-password-table td, .find-password-reset-table td {
    padding: 14px 30px;
    border-bottom: 1px solid #ddd;
}

/* input */
.find-input{
	width: 170px;
	height: 27px;
    padding: 2px 5px;
    line-height: 22px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.findIdOrPsw {
     display: block;
     float: none;
  }
}